################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GestionDepartamentos/.vs/GestionDepartamentos
/GestionDepartamentos/bin
/GestionDepartamentos/obj/Debug
/GestionDepartamentos/packages
